


*{
	/* Resetting the default styles of the page */
	margin:0;
	padding:0;
}

html{
	overflow:auto;
}

.logo{
	margin-bottom: 10px;	
	
}


body{
	/* Setting default text color, background and a font stack */
	margin-top:100px;
	font-size:0.825em;
	color:#cff909c;
	background:url("../img/bg.png") repeat-x #222222; 
	background-color:#D0ECFD;
	font-family:微软雅黑,Myriad Pro,Arial,Helvetica,sans-serif;
	
	
	
	
}

#carbonForm{
	/* The main form container */
	background-color:#c9c9d9;
	border:1px solid #080808;
	margin:5px auto;
	padding:20px;
	width:525px;
	-moz-box-shadow:0 0 1px #444 inset;
	-webkit-box-shadow:0 0 1px #444 inset;
	box-shadow:0 0 1px #444 inset;
}

#carbonForm h1{
	/* The form heading */
	font-family:微软雅黑,Myriad Pro,Arial,Helvetica,sans-serif;
	color:#414950;
	font-size:60px;
	font-weight:normal;
	padding:0 0 30px 10px;
	text-align:left;
}

.fieldContainer{
	background-color:#A7A7BC;
	border:1px solid #0E0E0E;
	/* 鍐呴儴div闂磋窛 */
	padding:10px 30px;
	
	-moz-box-shadow:0 0 20px #C8D6E3 inset;
	-webkit-box-shadow:0 0 20px #C8D6E3 inset;
	box-shadow:0 0 20px #C8D6E3 inset;
}

#carbonForm,.fieldContainer,.errorTip{
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}


.formRow{
	height:35px;
	padding:10px;
	position:relative;
}

.label{
	/* 杈撳叆妗�*/
	float:left;
	padding:0 20px 0 0;
	text-align:right;
	width:70px;
}

label{
	font-family:微软雅黑,Myriad Pro,Arial,Helvetica,sans-serif;
	font-size:20px;
	letter-spacing:1px;
	line-height:35px;
}

.field{
	float:left;
}

.field input{
	border:1px solid white;
	color:#666666;
	font-family:微软雅黑,Myriad Pro,Arial,Helvetica,sans-serif;
	font-size:16px;
	padding:4px 5px;
	
	background:url("../img/box_bg.png") repeat-x scroll left top #FFFFFF;
	outline:none; 
}
.field span{
	font-size: 13px;
}

.signupButton{
	
	text-align:center;
	padding:30px 0 10px;
}
.d{
	margin-top: 15px;
}

#reset{
	border:1px solid #f4f4f4;
	cursor:pointer;
	height:40px;
	text-indent:-9999px;
	_text-indent:0;
	text-transform:uppercase;
	width:110px;
	margin-left:30px;
	background:url("../img/reset.png") no-repeat center center #d0ecfd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	
}

.submit{
	border:1px solid #f4f4f4;
	cursor:pointer;
	height:40px;
	text-indent:-9999px;
	_text-indent:0;
	text-transform:uppercase;
	width:110px;
	
	background:url("../img/login.png") no-repeat center center #d0ecfd;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	margin-left: 110px;
}

.registation{
	border:1px solid #f4f4f4;
	cursor:pointer;
	height:40px;
	text-indent:-9999px;
	_text-indent:0;
	text-transform:uppercase;
	width:110px;
	background:url("../img/registation.jpg") no-repeat center center #d0ecfd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	margin-left: 110px;
}

#submit.active{
	background-image:url("../img/preloader.gif");
}

#submit:hover{
	background-color:#dcf2ff;
	border:1px solid white;
}

#reset.active{
	background-image:url("../img/preloader.gif");
}

#reset:hover{
	background-color:#dcf2ff;
	border:1px solid white;
}


input:hover,
input:focus{
	-moz-box-shadow:0 0 8px lightblue;
	-webkit-box-shadow:0 0 8px lightblue;
	box-shadow:0 0 8px lightblue;
}

.errorTip{
	/* The error divs */
	background-color:#970F08;
	color:white;
	font-size:10px;
	height:26px;
	letter-spacing:0.4px;
	margin-left:20px;
	padding:5px 0 5px 10px;
	position:absolute;
	text-shadow:1px 1px 0 #555555;
	width:200px;
	right:-130px;
}


/* The styles below are only necessary for the styling of the demo page: */

#footer{
	position:fixed;
	bottom:0;
	width:100%;
	padding:10px;
	color:#eee;
	text-align:center;
	font-weight:normal;
	font-style:italic;
}

a, a:visited {
	margin-left:35px;
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

.passw{
	
	font-size:11px;
	
	
}
.excep1{
	
}
